@model List<Work>

@{
    int HistoryID = ViewBag.WorkHistoryID;
    string Role = Context.Session.GetString("Default");
}

@* <h1>ประวัติการแก้ไขรายการงาน (@Role)</h1>*@

<p class="glitch-text">
    <span aria-hidden="true">ประวัติการแก้ไขรายการงาน  (@Role)</span>
    ประวัติการแก้ไขรายการงาน  (@Role)
    <span aria-hidden="true">ประวัติการแก้ไขรายการงาน  (@Role)</span>
</p>

@using (Html.BeginForm("History", "Works", FormMethod.Get, new { id = "filterform" }))
{
    <input type="hidden" name="HistoryID" value="@HistoryID" />
    @Html.Editor(null, "FilterWork")
}

<table class="table table table-bordered bg-white border-dark" style="width:1400px;">
    <thead class="table-dark" style="text-align: center; vertical-align: middle;">
        <tr>
            <th style="width:8%;">
                @Html.DisplayName("Created Date")
            </th>
            <th style="width:10%">
                @Html.DisplayName("Project")
            </th>
            <th style="width:10%">
                @Html.DisplayName("Name")
            </th>
            <th style="width:12%">
                @Html.DisplayName("Due Date")
            </th>
            <th style="width:8%">
                @Html.DisplayName("Assign By")
                <br />
                @Html.DisplayName("/ Requester")
            </th>
            <th style="width:20%">
                @Html.DisplayName("Assign To")
                <br />
                @Html.DisplayName("/ Provider")
            </th>
            <th style="width:9%">
                @Html.DisplayName("Status")
            </th>
            <th style="width:7%">
                @Html.DisplayName("Remark")
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody style="text-align: center; vertical-align: middle;">
        <!-- ชื่อ Item ต้องตรงกับ ตัวรับใน Controller -->
        @foreach (Work work in Model)
        {
            if(work.ID == HistoryID)
            {
                if (work.RedFlag != true)
                {
                    @Html.DisplayFor(m => work, "WorkHistory")
                }
                else
                {
                    @Html.DisplayFor(m => work, "WorkHistoryRedNotic")
                }
            }
            else
            {
                if (work.RedFlag != true)
                {
                    @Html.DisplayFor(m => work)

                }
                else
                {
                    @Html.DisplayFor(m => work, "WorkRedNotic")
                }
            }
        }
        <tr>
            <td class="text-center" style="border-right: 1px solid white ;">
                @* <a asp-action="Create" asp-controller="Works" class="btn btn-primary">Create</a> *@
                <button class="button-glitch-primary" onclick="location.href='@Url.Action("Create", "Works", new
                        {
                            RequseterFilter = Context.Session.GetString("RequseterFilter"),
                            ProviderFilterValue = Context.Session.GetString("ProviderFilterValue"),
                            ProjectFilter = Context.Session.GetString("ProjectFilter"),
                            StatusFilter = Context.Session.GetString("StatusFilter"),
                            IsChangePage = true
                        })'">
                    Create task
                </button>
            </td>
            <td style="border-right: 1px solid white ;"></td>
            <td style="border-right: 1px solid white ;"></td>
            <td style="border-right: 1px solid white ;"></td>
            <td style="border-right: 1px solid white ;"></td>
            <td style="border-right: 1px solid white ;"></td>
            <td style="border-right: 1px solid white ;"></td>
            <td style="border-right: 1px solid white ;"></td>
            <td></td>
        </tr>
    </tbody>
</table>
@* <div>
    <a asp-action="Create" asp-controller="Works" class="btn btn-primary">Create</a>
</div> *@