@model Work

@{
    List<SelectListItem> UserDropdownList = ViewBag.UserDropdown;
    List<SelectListItem> StatusDropdownList = ViewBag.StatusDropdown;
}
@using (Html.BeginForm("Create", "Works", FormMethod.Post, new { id = "Workform" }))
{
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.CreateDate)
    @Html.HiddenFor(m => m.UpdateDate)
    @Html.HiddenFor(m => m.IsDelete)
    @Html.HiddenFor(m => m.UpdateBy)
    @Html.HiddenFor(m => m.StatusID)
    @Html.HiddenFor(m => m.CreateBy)
    <input type="hidden" asp-for="ProviderValue" id="ProviderValue" />
    <input type="hidden" asp-for="AllProviderSelected" id="areAllSelected" />
    <input type="hidden" asp-for="ProvidersSelected" id="ProvidersSelected" />


    <tr>
        <td>
            @Html.DisplayFor(m => m.CreateDate)
        </td>
        <td>
            @Html.EditorFor(m => m.Project, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
        </td>
        <td>
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
        </td>

        <td>
            @Html.EditorFor(m => m.DueDate, new { htmlAttributes = new { @class = "form-control", onchange = "IsChangeDuedate()", @id = "DueDateID" } })
        </td>


        <td>
            @* @Html.DropDownListFor(m => m.CreateBy, UserDropdownList) *@
            @foreach (var i in UserDropdownList)
            {
                if (Model.CreateBy == int.Parse(i.Value))
                {
                    @Html.DisplayName(i.Text)
                }
            }
        </td>
        <td align="center">
            <div>
                <select id="select-tops-options" required multiple="multiple" @* asp-items="UserDropdownList" *@>
                    @{
                        foreach (var providerdata in UserDropdownList)
                        {
                            <option value="@providerdata.Value">@providerdata.Text</option>
                        }
                    }
                </select>
            </div>
            <div id="validation-message" style="color: red; display: none;">Please select at least one provider</div>

        </td>
        <td>
            @* @Html.DropDownListFor(m => m.StatusID, StatusDropdownList) *@
            <select id="StatusID" class="form-control" asp-for="StatusID" asp-items="StatusDropdownList" disabled></select>
        </td>


        <td>
            @Html.EditorFor(m => m.Remark, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @* <input value="Submit" class="btn btn-success" type="submit" /> *@
            @* <a class="btn btn-danger" asp-action="Index" asp-controller="Works" asp-route-id="@Model.ID">Cancel</a> *@
            @* @Html.ActionLink("Cancel", "Index", "Works", new
                {
                    RequseterFilter = Context.Session.GetString("RequseterFilter"),
                    ProviderFilterValue = Context.Session.GetString("ProviderFilterValue"),
                    ProjectFilter = Context.Session.GetString("ProjectFilter"),
                    StatusFilter = Context.Session.GetString("StatusFilter"),
                    IsChangePage = true

                }, new { @class = "btn btn-danger" }) *@
            <button class="button-glitch-success" type="submit">Submit</button>
            @* <a class="btn btn-danger" asp-action="Index" asp-controller="Works" asp-route-id="@Model.ID">Cancel</a> *@
            <button type="button" class="button-glitch-danger" onclick="location.href='@Url.Action("Index", "Works", new
                {
                    RequseterFilter = Context.Session.GetString("RequseterFilter"),
                    ProviderFilterValue = Context.Session.GetString("ProviderFilterValue"),
                    ProjectFilter = Context.Session.GetString("ProjectFilter"),
                    StatusFilter = Context.Session.GetString("StatusFilter"),
                    IsChangePage = true

                })'">
                Cancel
            </button>
        </td>
    </tr>
}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded",
        () => {


            $('#select-tops-options').multiselect({
                buttonClass: 'form-select',
                nonSelectedText: 'Select Provider',
                buttonContainer: '<div id="select-tops-options-container"></div>',
                selectedClass: 'active multiselect-selected',
                numberDisplayed: 5,
                buttonWidth: '18em',
                includeSelectAllOption: true,
                onSelectAll: function (options) {
                    document.getElementById("areAllSelected").value = true;
                },
                onDeselectAll: function (options) {
                    document.getElementById("areAllSelected").value = false;
                    document.getElementById("ProviderValue").value = "";
                },
                //includeResetOption: true,
                //selectAllName: 'select-all-name',
                onChange: function (option, checked) {
                    /*
                     * Not there yet
                     */
                    if (checked) {
                        document.querySelectorAll(`[value="${$(option[0])[0].value}"]`)[1].ariaChecked = "true";
                        document.querySelectorAll(`[value="${$(option[0])[0].value}"]`)[0].ariaChecked = "true";
                    } else {
                        document.querySelectorAll(`[value="${$(option[0])[0].value}"]`)[1].ariaChecked = "false";
                        document.querySelectorAll(`[value="${$(option[0])[0].value}"]`)[0].ariaChecked = "false";
                    }

                    //$("#select-tops-options").multiselect('deselect', '1');
                    var toppings = $('#select-tops-options option:selected');

                    var selected = [];
                    $(toppings).each(function (index, item) {
                        selected.push([$(this).val()]);
                    });
                    document.getElementById("areAllSelected").value = false;

                    document.getElementById("ProviderValue").value = selected.join(',');
                },
                templates: {
                    button:
                        '<button type="button" class="multiselect dropdown-toggle" ' +
                        'data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                    resetButton: '<div class="multiselect-reset text-center p-2"><button type="button" class="btn btn-sm btn-danger"></button></div>'
                }
            });

            // $('#Workform').submit(function () {
            //     if ($('#ProviderValue').val() === "") {
            //         alert('Please select at least one provider');
            //         return false;
            //     }
            // });

            // $('#Workform').submit(function () {
            //     var selectedOptions = $('#select-tops-options option:selected');

            //     if (selectedOptions.length === 0) {
            //         alert('Please select at least one provider');
            //         return false; // ป้องกันแบบฟอร์มไม่ให้ส่ง
            //     }
            // });

            // ตรวจสอบการกรอกข้อมูลเมื่อยังไม่ได้เลือก
            // $('#Workform').submit(function (event) {
            //     var selectedOptions = $('#select-tops-options option:selected');

            //     if (selectedOptions.length === 0) {
            //         event.preventDefault(); // ป้องกันแบบฟอร์มไม่ให้ส่ง
            //         displayErrorMessage('Please select at least one provider');
            //     }
            // });

            // function displayErrorMessage(message) {
            //     var errorMessageContainer = $('#error-message-container');
            //     errorMessageContainer.text(message);
            //     errorMessageContainer.show(); // แสดงข้อความแจ้งเตือน
            // }

            $('#Workform').submit(function () {
                var selectedOptions = $('#select-tops-options option:selected');

                if (selectedOptions.length === 0) {
                    $('#validation-message').show();
                    return false; // ป้องกันแบบฟอร์มไม่ให้ส่ง
                } else {
                    $('#validation-message').hide();
                }
            });

        });
</script>
